@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

* {
    font-family: 'Playball', cursive !important;
    color: #F1F3F2 !important;
}

.pink {
    color: deeppink !important;
}

.btn-danger {
    background: deeppink !important;
}

.box-rounded {
    border-radius: 40px !important;
}

.box-shadow {
    box-shadow: 2px 2px 20px black !important;
}

.text-shadow {
    text-shadow: 2px 2px 8px black !important;
}

.card-text {
    text-align: justify !important;
}

.card-padding {
    padding: 50px !important;
}

.center {
    padding: 3vh 0 !important;
}